/*
#00529b; blue
#dd661e; orange;
#ff4a00; h2 orange

f36e21 h3 orange
f37021 h3 orange

*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "quadon", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* header  */
header {
  background: #00529b;
  display: flex;
  justify-content: space-between;
}

nav {
  display: none;
}

header a {
  color: white;
}

h1 {
  background: #dd661e;
  font-size: 2rem;
}

#headerImg {
  background: white;
  width: 5rem;
}


/* body  */

#mobileNavigation li {
  width: 100%;
  text-align: center;
  outline-color: gray;
  outline-width: 1px;
  outline-style: solid;
}

#mobileNavigation li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}



#sideColumn {
  display: none;
}

#bodyContent {
  float: left;
  background: lightblue;
}

#rightColumn {
  background: green;
  float: left;
}

iframe {
  width: 90%;
  display: block;
  margin: auto;
}

footer {
  text-align: center;
  border-top: 1px solid gray;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.clear {
  clear: both;
}

@media screen and (min-width: 600px) {


  header ul {
    background: gray;
  }

  header ul li {
    float: left;
    width: 33%;
    list-style: none;
  }

  #sideColumn {
    display: block;
    background: gray;
    float: left;
  }


}
