.container {
  background: none;
  max-width: none;
  width: 750px;
}
h3, h4 {
  font-size: 22px;
}
h5 {
  font-size: 19px;
}
article {
  float: left;
  padding-right: 5px;
  margin-left: 10px;
}

.lonesomeNote  {
  width: 32%;
  margin-left: 90px;
  background: none;
}

.lonesomeNote h4 {
  font-style: italic;
}

.library {
  /* width: 50%; */
  background: none;
  margin-top: 10px;
  margin-left: 0;
}

.library h3 {
  font-size: 19px;
}

li {
  line-height: 1.6;
  font-size: 22px;
}
