.lonesomeNote  {
  width: 34%;
  margin-left: 85px;
  background: none;
}

.lonesomeNote h4 {
  font-style: italic;
}

.library {
  /* width: 50%; */
  background: none;
  margin-top: 10px;
  margin-left: 0;
}

.library h3 {
  font-size: 19px;
}
