.container {
  max-width: 650px;
  margin: auto;
}

.red {
  color: red;
}

p, li {
  line-height: 1.5;
}

.about p, .about li {
  font-size: 19px;
}

.about h3 {
  font-size: 21px;
}

img {
  display: block;
  margin: auto;
  border: 1px solid #d0d0d0;
  max-width: 100%;
}

.contact p {
  margin-top: 0;
  margin-bottom: 0;
}

.clear {
  clear: both;
}

.day {
  border-bottom: 1px dashed gray;
  padding-bottom: 35px;
  margin-bottom: 40px;
}

table, tr, th, td {
  border: 1px solid black;
  padding: 5px;
}
