* {
  /* font-family: monospace, monospace;
  font-size: 18px; */
}

.container {
  max-width: 650px;
  margin: auto;
}

.red {
  color: red;
}

p, li {
  line-height: 1.5;
}

.about p, .about li {
  font-size: 19px;
}

.about h3 {
  font-size: 21px;
}

img {
  display: block;
  margin: auto;
  border: 1px solid #d0d0d0;
  max-width: 100%;
}

.contact p {
  margin-top: 0;
  margin-bottom: 0;
}

.clear {
  clear: both;
}

.day {
  border-bottom: 1px dashed gray;
  padding-bottom: 35px;
  margin-bottom: 40px;
}

table, tr, th, td {
  border: 1px solid black;
  padding: 5px;
}

.darkBlue {
  color: #2a579e;
}

footer {
  border-top: 1px dashed #d0d0d0;
  margin-top: 25px;
  padding-top: 0px;
  margin-bottom: 25px;
  padding-bottom: 30px;
  background: none;
}

footer ul {
  background: none;
  padding: 0;
  width: 203px;
  margin: auto;
  margin-top: 15px;
}

footer li {
  float: left;
  list-style: none;
  background: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100px;
}

footer p {
  float: left;
  background: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 3px;
}
