* {
  font-size: 21px;
  font-family: sans-serif;
}

body {
  width: 700px;
  margin: auto;
}

li {
  line-height: 1.5;
}


a {
  color: blue;
}

.fade {
  font-size: 15px;
  font-style: italic;
  color: #999;
}
