AuthType shibboleth
ShibRequireSession On
ShibUseHeaders On

require eppn acatalano2@ufl.edu
require eppn gatorbec@ufl.edu
require eppn rknicker@ufl.edu
require eppn danshields@ufl.edu
require eppn gkepic@ufl.edu
require eppn nraymond@ufl.edu
require eppn lblancaster@ufl.edu
require eppn dsking@ufl.edu
require eppn kellymarie@ufl.edu
require eppn mmcadams@ufl.edu
require eppn crichmond@ufl.edu
require eppn stsangs@ufl.edu
require eppn veggie@ufl.edu
require eppn spillane@ufl.edu
require eppn pnikki0206@ufl.edu
require eppn austin.herzer12@ufl.edu
require eppn losickey@ufl.edu
