.inputShell {
  padding-bottom: 0;
  border-radius: .3rem;
}

#navDashboard {
  /* margin-top: .1rem; */
}

#navDashboard ul, #navDashboard li {
  margin: 0;
  padding: 0;
}

#navDashboard ul {
  display: flex;
  justify-content: space-around;
}

#navDashboard li {
  text-align: center;
  list-style: none;
  border: 1px solid #999;
  color: #555;
  background: linear-gradient(white,#e0e0e0);
  padding: .5rem 0 .5rem 0;
  font-size: .9rem;
}

#navDashboard li:hover {
  cursor: pointer;
  background: #f0f0f0;
  background: linear-gradient(#e0e0e0,#f0f0f0);
}



#show_tickets {
  display: block;
}

#show_records {
  display: none;
}



/* user settings  */
/* user settings  */
/* user settings  */
/* user settings  */



#settings {
  width: 100%;
  margin: auto;
  /* border-top: 1px solid #e0e0e0; */
  border-radius: .4rem;
  display: flex;
  justify-content: space-around;
  /* padding: .5rem 0; */
}

#ticketEdit, #userEdit {
  /* background: darkblue; */
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 50%;
  outline-color: #d0d0d0;
  outline-width: 1px;
  outline-style: solid;
}


#settings img {
  display: block;
  margin: auto;
  height: 1.2rem;
  width: 1.2rem;
}

#settings ul, #settings li {
  margin: 0;
  padding: 0;
}

#settings li {
  font-size: .85rem;
  list-style: none;
  text-align: center;
  width: 100%;
  margin-top: .3rem;
  /* background: red; */
}

@media screen and (min-width: 600px) {


}
