.inputShell {
  padding-bottom: 0;
  border-radius: .3rem;
  width: 100%;
}

.ticketShell {
  border-radius: .4rem;
  border: 1px solid #aaa;
  width: 92%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  box-shadow: .3rem .4rem .8rem #a0a0a0;
}

.ticketShell h4 {
  color: #333;
  border-bottom: 1px solid #eee;
  border-radius: .4rem;
  margin: auto;
  font-size: 1.6rem;
  font-weight: 600;
  padding: .9rem 0 .9rem 1.25rem;
}

p.recordsButton {
  border: .1rem solid #555;
  border-radius: .2rem;
  width: 40%;
  font-size: 1rem;
  max-width: none;
  margin: auto;
  padding: 0;
  background: white;
  text-align: center;
}

.recordsButton a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #333;
}

.recordsButton:hover {
  background: linear-gradient(#fafafa, #eaeaea);
}

.ticketShell .button {
  display: block;
  margin: 2rem auto 2.3rem auto;
  padding: 0;
  border: .2rem solid #495267;
  border-radius: .3rem;
  text-align: center;
  width: 70%;
  max-width: none;
  background: linear-gradient(#606c88, #3f4c6b);
}

.ticketShell .button a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  max-width: none;
  width: 100%;
  height: 100%;
  padding: .4rem .4rem .5rem .4rem;
  color: white;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3)
}

.ticketShell .button a:hover {
  /* (dark, light) (top, bottom) */
  background: linear-gradient(#4b546a, #2c354b);

}

#tickets_available h4 {
  background: #444;
  width: 100%;
  margin: 0;
  padding: 1.2rem 0 1.2rem 1.5rem;
  color: white;
  font-weight: 100;
  font-size: 1.1rem;
  border-top: .15rem solid #333;
}

p.removeSticker {
  color: #AD0000;
  margin: 0;
  padding: 0;
  text-align: right;
  font-size: .95rem;
}


/* #my_tickets {
display: none;
  display: block;
}

#add_remove_tickets {
  display: block;
} */

p.aboutTicket {
  color: #575757;
  width: 84%;
  font-size: 1rem;
  /* margin: 0; */
}


/* user settings  */
/* user settings  */
/* user settings  */
/* user settings  */



#settings {
  width: 100%;
  margin: auto;
  /* border-top: 1px solid #e0e0e0; */
  border-radius: .4rem;
  display: flex;
  justify-content: space-around;
  /* padding: .5rem 0; */
}

#ticketEdit, #userEdit {
  /* background: darkblue; */
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 50%;
  outline-color: #d0d0d0;
  outline-width: 1px;
  outline-style: solid;
}


#settings img {
  display: block;
  margin: auto;
  height: 1.2rem;
  width: 1.2rem;
}

#settings ul, #settings li {
  margin: 0;
  padding: 0;
}

#settings li {
  font-size: .85rem;
  list-style: none;
  text-align: center;
  width: 100%;
  margin-top: .3rem;
  /* background: red; */
}

@media screen and (min-width: 600px) {

  .inputShell {
    width: 84%;
  }

  .ticketShell {
    width: 90%;

  }

}
