#page_container {
  display: flex;
  justify-content: space-between;
  width: 61.25rem;
  margin: auto;
}

/* left column / Page content  */
#content_container {
  width: 75%;
}

#content_container h2 {
  color: #333;
  width: 84%;
  max-width: 61.25rem;
  margin: 2rem auto 1.5rem auto;
  font-size: 1.6rem;
}

#copyText {
  margin-top: 1.5rem;
}


/* right column container */
#sortNav {
  width: 23%;
  padding-top: 3rem;
}

/* link buttons */
/* link buttons */
/* link buttons */
.navButton {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  width: 100%;
  max-width: none;
  border: 2px solid #f79646;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-weight: bold;
  box-shadow: .3rem .3rem .8rem #c0c0c0;
}

.navButton p {
  margin: 0;
}

.navButton a {
  text-decoration: none;
  color: #2755A0;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

.navButton a:hover {
  text-decoration: underline;
}

.navButton:hover {
  border: 2px solid #ed7e23;
  box-shadow: .35rem .35rem .8rem #a0a0a0;
}

.navButton_image {
  width: 13%;
  margin-right: 1.5rem;
}

.navButton_image img {
  display: block;
  margin: auto;
  margin-top: .8rem;
  width: 100%;
}

#navButton_emailPending {
  border: 2px solid #db5346;
}

#navButton_records {
  border: 2px solid #5480BE;
}


/* search navigation */
/* search navigation */
/* search navigation */

#searchStudent {
  margin-top: .7rem;
}

#searchEmail {
  width: 99%;
  display: block;
  margin: auto;
  border: 1px solid #9cabc1;
  border-radius: .3rem;
  /* margin-top: .4rem; */
  padding: .4rem;
  box-shadow: .2rem .2rem .5rem #d0d0d0;
}

#searchSubmit {
  display: block;
  margin: auto;
  width: 35%;
  margin-top: .55rem;
  padding: .2rem .3rem;
}


/* nav Sort items */
/* nav Sort items */
/* nav Sort items */

#sortNav_sortLinksUL {
  margin: 1.5rem auto 0 auto;
  border: 1px solid #666;
  background: #d0d0d0;
  padding: .5rem;
  border-radius: .3rem;
  box-shadow: .3rem .3rem .8rem #c0c0c0;
}

#sortNav_sortLinksUL li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border-radius: .3rem;
  /* padding: .5rem 1rem; */
  background: #fff;
  color: #585858;
  margin-bottom: 3px;
}

#sortNav_sortLinksUL li a {
  color: #585858;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  text-decoration: none;
}

#sortNav_sortLinksUL li a:hover {
  background: #f0f0f0;
  text-decoration: underline;
}

#button_allRecords {
  border: 1.5px solid #555;
}

#button_pending {
  border: 1.5px solid #EA4335;
  border: 2px solid #9E0000;

}

#button_studentSubmitted  {
  border: 1.5px solid #34A853;
}

#button_remainUFO  {
  border: 1.5px solid #FBBC05;
}

#button_advisorApproved {
  border: 1.5px solid #508ded;
  margin-bottom: 0;
}

#sortNav dt {
  border: 2px solid #888;
  border-top: 3px solid #81d680;
  border-right: 3px solid #d35852;
  border-bottom: 2px solid #ead141;
  border-left: 3px solid #7296e5;
  padding: 1rem 0 1rem 1rem;
  border-radius: .4rem;
  color: #2755A0;
  font-weight: bold;
  margin-bottom: .6rem;
  box-shadow: .25rem .25rem .5rem #e0e0e0;
  text-decoration: none;
}

#sortNav dt:hover {
  background: #f0f0f0;
  cursor: pointer;
  text-decoration: underline;
}

#sortNav dd td {
  font-size: .9rem;
  padding: 0;
}

#sortNav dd td a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: white;
  padding: .4rem;
}

#sortNav dd td a:hover {
  background: #d0d0d0;
}

table#majorsTableNav {
  border-collapse: collapse;
  border: 4px solid #d0d0d0;
  width: 100%;
  box-shadow: 0.3rem 0.3rem 0.8rem #d0d0d0;
  margin-bottom: 1rem;
}

#majorsTableNav td {
  border: 1px solid #999;
  font-size: .9rem;
  padding: 0;
}
