* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "SF Pro Display",SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body {
  width: 100%;
  max-width: 980px;
  margin: auto;
}

header {
  border-bottom: 4px solid #f79646;
  /* box-shadow: 10px 10px 10px #c0c0c0; */
}

#uf_logo {
  width: 5rem;
  float: left;
  /* border: 1px solid red; */
}

nav li {
  float: left;
  margin-left: 4rem;
  font-size: 1.5rem;
  list-style: none;
}

header img {
  width: 1rem;
}

h1 {
  color: #333;
  font-size: 1rem;
  float: right;
}

h2 {
  font-weight: 600;
  letter-spacing: 0;
  color: #111;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  padding-right: 1rem;
}

p {
  margin: 1rem;
  padding-right: 1rem;
  font-size: 1.18rem;
  color: #222;
  font-weight: 400;
  line-height: 1.21053;
}

h3 {
  margin-left: 1rem;
}

a {
  color: #2A5DB0;
}

ul, ol {
  margin-left: 2.5rem;
}

.monospace {
  font-family: monospace, monospace;
  font-size: 1.2rem;
}

.inputShell {
  border: 1px solid gray;
  width: 84%;
  margin: 2rem auto;
  padding: 1.5rem 0 1rem 0;
  box-shadow: 10px 10px 20px #c0c0c0;
  background: #f0f0f0;
}

.inputShell input {
  display: block;
  margin: auto;
  width: 84%;
  padding: .35rem .5rem;
  letter-spacing: .5px;
}

.inputShell label {
  text-align: center;
  /* background: red; */
  display: block;
  margin-top: .3rem;
}

#submitButton {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 40%;
}

.clear {
  clear: both;
}
