
h2#recordSlug a {
  color: #333;
}

#tickets_container {
  margin: auto;
    width: 75%;
}

.barrier {
  width: 100%;
  border: 1px solid #383838;
  max-width: 40rem;
  margin: auto;
  margin-top: 2.81rem;
  border-radius: .2rem;
  /* box-shadow: .3rem .3rem .8rem #f0f0f0; */
}

#individualRecord {
  width: 88%;
}

.barrierHeader, .list_barrierHeader {
  display: flex;
  justify-content: space-between;
  text-align: center;
  outline-color: #888;
  outline-color: #333;
  outline-style: solid;
  outline-width: 1px;
}

.barrierHeader h3, .list_barrierHeader h3 {
  margin: 0;
  width: 78%;
  font-size: 1.1rem;
  padding: .7rem;
  font-weight: 600;
  color: #333;
  color: #444;
  color: #555;
  text-align: left;
}

.list_barrierHeader p {
  width: 22%;
  margin: 0;
  padding: .7rem;
}

.barrierHeader p {
  width: 80%;
  margin: 0;
  padding: .7rem;
}

p.studentID {
  color: #575757;
  font-size: .9rem;
  font-style: italic;
}

p.pending {
  background: #eee;
  color: #9E0000;
  border-right: 1px solid #888;
}

p.submitted {
  border-right: 1px solid #888;
  background: #90D68F;
  color: #333;
}

p.approved {
  border-right: 1px solid #888;
  background: #fff;
  color: #0e47a3; /* beautiful blue contrast */
  background: #A9C8F9;
}

p.ufoSelected {
  border-right: 1px solid #888;
  background: #90D68F;
  color: #333;
}

p.ufoApproved {
  border-right: 1px solid #888;
  background: #ffdd9b;
  background: #ffdd9e;
  font-weight: bold;
}

.studentIdentification {
  /* background: #4286f4; */
  width: 63%;
  display: flex;
  justify-content: space-between;
}

.identifyVariables {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: .5rem;
  margin: auto;
}

p#ledeName {
  width: 86%;
  margin: 0 auto;
  padding: 1.2rem 0 0 .7rem;
  font-size: 1.2rem;
}

.identifyVariables h3 {
  margin: 0 auto;
  /* margin-top: .8rem; */
  width: 86%;
  padding: .7rem;
  font-size: 1.1rem;
  font-weight: 800;
  color: #333;
}

p.studentEmail {
  margin: 0 auto;
  width: 86%;
  padding: .7rem;
  color: #575757;
  font-size: .9rem;
  font-style: italic;
}


p.timeCreated, p.timeSubmitted {
  margin: 0;
  padding-top: .9rem;
  width: 14%;
  /* background: red; */
  text-align: center;
  font-size: .85rem;
  color: #575757;
  letter-spacing: 1px;
}

.barrier table {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
}

#conditionsPaceMajor th {
  background: #C3CBE0;
}

.coursesTable tr:nth-child(even) {background: #F1F5FE;}
.coursesTable tr:nth-child(odd) {background: #FFF;}
.coursesTable th {
  background: #d0d0d0;
}


.writtenCondition {
  margin: 0 auto;
  margin-bottom: 1px;
}

.writtenConditionHeaderWrap {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  margin-bottom: .3rem;
}

.writtenCondition h3 {
  width: 100%;
  font-weight: bold;
  max-width: 25rem;
  margin: auto;
  padding: .6rem 0;
  color: #3d3d3d;
}

.writtenCondition p {
  background: white;
  padding: 1rem .4rem;
  max-width: 25rem;
  line-height: 1.7;
  font-size: 1.1rem;
  margin-bottom: .4rem;
  font-style: italic;
  color: #545454;
}

p#zeroStips {
  background: white;
  color: #335694;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1.5rem 0;
  font-weight: 600;
  font-size: 1.3rem;
  border-bottom: 1px solid #999;
  font-style: italic;
}


.formCreated {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #999;
  width: 100%;
  /* background: #1b52aa; */
}

.formCreated p {
  text-align: right;
  margin: 0;
  padding: .4rem .8rem .4rem 0;
  width: 100%;
  max-width: none;
  font-style: italic;
  color: #3e5882;
  color: #454545;
  font-size: .9rem;
}

.barrier_notes {
  width: 100%;
  /* max-width: 22rem; */
  padding: .4rem 0;
  margin: auto;
  display: flex;
  /* background: red; */
  justify-content: space-between;
}

.barrier_notes img {
  display: inline;
  margin: auto;
  /* background: green; */
}

.barrier_notes p {
  /* text-align: center; */
  margin-bottom: 0;
  font-style: italic;
  font-size: .9rem;
}

.barrier_notes a {
  font-weight: 400;
}

.note_theConstant {
  width: 22%;
  /* background: green; */
  text-align: center;
  border-right: 1px solid #b0b0b0;
}

.note_variants {
  width: 78%;
  /* background: blue; */
}

.variantsContainer {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}

span.approve {
  font-style: initial;
}
