#records_container {
  display: flex;
  justify-content: space-between;
  width: 61.25rem;
  margin: auto;
}

#sortNav {
    padding-top: 3rem;
}

.navButton {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  /* text-align: center; */
  width: 100%;
  max-width: none;
  border: 2px solid #f79646;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-weight: bold;
  box-shadow: .3rem .3rem .8rem #c0c0c0;
}

.navButton p {
  margin: 0;
}

.navButton a {
  text-decoration: none;
  color: #2755A0;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

.navButton a:hover {
  text-decoration: underline;
}

.navButton:hover {
  border: 2px solid #ed7e23;
  box-shadow: .35rem .35rem .8rem #a0a0a0;
}

.navButton_image {
  width: 15%;
  margin-right: 1.5rem;
}

.navButton_image img {
  display: block;
  margin: auto;
  margin-top: .7rem;
  width: 100%;
}

#emailPending {
  border: 2px solid #db5346;

}


#majors {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

#copyText {
  width: 74%;
  margin: auto;
  margin-top: 2.3rem;
  padding: 0;
  color: #555;
  font-family: monospace;
}

#copyTheId {
  color: #2755A0;
  text-decoration: none;
}


#copyTheId:hover {
  cursor: pointer;
  text-decoration: underline;
}

#copyTheId:active {
  color: #478af7;
}

/* <p onclick="myFunction()">Copy id</button> */

#tickets_container {
  width: 75%;

}

#tickets_container h2 {
  color: #333;
  width: 84%;
  max-width: 61.25rem;
  margin: auto;
  margin-top: 2rem;
  font-size: 1.6rem;
}


#sortNav {
  width: 23%;
}


#recordsView_desktop {
  margin: 1.5rem auto 0 auto;
  border: 1px solid #666;
  background: #d0d0d0;
  padding: .5rem;
  border-radius: .3rem;
  box-shadow: .3rem .3rem .8rem #c0c0c0;
}

#recordsView_desktop li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #555;
  border-radius: .3rem;
  /* padding: .5rem 1rem; */
  background: #fff;
  color: #585858;
}

#recordsView_desktop li a {
  color: #585858;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: .5rem 1rem;
  text-decoration: none;
}

#recordsView_desktop li a:hover {
  background: #f0f0f0;
  text-decoration: underline;
}


h3 {
  color: #383838;
  margin-bottom: 1.5rem;
}

.inputShell {
  margin-bottom: 2rem;
}

.inputShell p {
  font-size: 1.1rem;
}

dt:hover {
  cursor: pointer;
}

.barrier {
  width: 100%;
  border: 1px solid #888;
  border: 1px solid #333;
  max-width: 40rem;
  margin: auto;
  margin-top: 2.81rem;
  border-radius: .2rem;
  /* box-shadow: .3rem .3rem .8rem #f0f0f0; */
}

.barrierHeader, .ufoSubmission {
  display: flex;
  justify-content: space-between;
  text-align: center;
  outline-color: #888;
  outline-color: #333;
  outline-style: solid;
  outline-width: 1px;
}

.barrierHeader h3 {
  margin: 0;
  width: 78%;
  font-size: 1.1rem;
  padding: .7rem;
  font-weight: 600;
  color: #333;
  color: #444;
  color: #555;
  text-align: left;
}

p.studentID {
  color: #575757;
  font-size: .9rem;
  font-style: italic;
}

.barrierHeader p {
  width: 22%;
  margin: 0;
  padding: .7rem;
}

p.pending {
  background: #eee;
  color: #9E0000;
  border-right: 1px solid #888;
}

p.submitted {
  border-right: 1px solid #888;
  color: #fff;
  background: #006100;
  background: #90D68F; /* light green */
  color: #333;
}

p.approved {
  border-right: 1px solid #888;
  background: #fff;
  color: #0e47a3; /* beautiful blue contrast */
  background: #A9C8F9;
  color: #333;
}

p.ufoSelected {
  border-right: 1px solid #888;
  background: #fff;
  color: #0e47a3; /* beautiful blue contrast */
  background: #A9C8F9;
  color: #333;
}


.studentIdentification {
  /* background: #4286f4; */
  width: 63%;
  display: flex;
  justify-content: space-between;
}

p.timeCreated, p.timeSubmitted {
  margin: 0;
  padding-top: .9rem;
  width: 14%;
  /* background: red; */
  text-align: center;
  font-size: .85rem;
  color: #575757;
  letter-spacing: 1px;
}

.ufoSubmission {
  background: #D1FFD1; /* green hospital */
  background: #EDF3F8; /* blue light contrast */
  padding-top: .5rem;
  padding-bottom: .4rem;
}

.ufoSubmission p {
  margin: .6rem auto .6rem auto;
}

/* graph to highlight as heading */
.ufoMajor {
  font-weight: bold;
  color: #00529b;
  border-right: 1px solid #888;
}


.barrier table {
  max-width: 25rem;
  margin: 2rem auto;
}

.barrier table, .ufoSubmission {
  width: 95%;
  margin: 2rem auto;
}


table, tr, th, td {
  border: 1px solid #333;
  padding: .4rem;
}

thead { background: #d0d0d0; }

th, td {
  text-align: center;
}
.filled tr th {
  background: white;
  color: #26539C;
  background: #A2D590;
  color: #333;
}

#conditionsPaceMajor th {
  background: #C3CBE0;
}

.coursesTable tr:nth-child(even) {background: #F1F5FE;}
.coursesTable tr:nth-child(odd) {background: #FFF;}
.coursesTable th {
  background: #d0d0d0;
}

tr, td, th, .barrier, .barrierHeader, .studentIdentification, .inputShell, .notes_records {
  background: white;
}




#conditionsPaceMajor th {
  background: #C3CBE0;
}

.coursesTable tr:nth-child(even) {background: #F1F5FE;}
.coursesTable tr:nth-child(odd) {background: #FFF;}

.coursesTable th {
  background: #d0d0d0;
}

.writtenCondition {
  margin: 0 auto;
  margin-bottom: 1px;
}

.writtenConditionHeaderWrap {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  margin-bottom: .3rem;
}

.writtenCondition h3 {
  width: 100%;
  font-weight: bold;
  max-width: 25rem;
  margin: auto;
  padding: .6rem 0;
  color: #3d3d3d;
}

.writtenCondition p {
  background: white;
  padding: 1rem .4rem;
  max-width: 25rem;
  line-height: 1.7;
  font-size: 1.1rem;
  margin-bottom: .4rem;
  font-style: italic;
  color: #545454;
}

p#zeroStips {
  color: #651A1A;
  color: #962727;
  color: #25406b;
  /* background: linear-gradient(white, #FAFAFA); */
  background: white;
  color: #335694;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 1.5rem 0;
  font-weight: 600;
  font-size: 1.3rem;
  border-bottom: 1px solid #999;
  font-style: italic;
  /* font-size: 1.5rem; */
}

/* response container  */
/* #response {
  background: #d0d0d0;
}

#response table {
  background: white;
} */



.formCreated {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #999;
  width: 100%;
  /* background: #1b52aa; */
}

.formCreated p {
  text-align: right;
  margin: 0;
  padding: .4rem .8rem .4rem 0;
  width: 100%;
  max-width: none;
  font-style: italic;
  color: #3e5882;
  color: #454545;
  font-size: .9rem;
}


.red {
  color: #AD0000;
  background: white;
  text-align: center;
}

.green {
  background: #32CD32;
  background: #afedaf;
  color: white;
  color: #333;
  text-align: center;
}

.notes {
  width: 100%;
  /* max-width: 22rem; */
  padding: .4rem 0;
  margin: auto;
  display: flex;
  /* background: red; */
  justify-content: space-between;
}

.notes img {
  display: inline;
  margin: auto;
  /* background: green; */
}

.notes p {
  /* text-align: center; */
  margin-bottom: 0;
  font-style: italic;
  font-size: .9rem;
}

.notes a {
  font-weight: 400;
}

.note_theConstant {
  width: 22%;
  /* background: green; */
  text-align: center;
  border-right: 1px solid #b0b0b0;
}

.note_variants {
  width: 78%;
  /* background: blue; */
}

.variantsContainer {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}

span.approve {
  font-style: initial;
}

p.bigNumber {
  font-size: 11rem;
  width: 100%;
  margin: 2rem auto 0 auto;
  padding: 0;
  line-height: 1;
  text-align: center;
  color: #c0c0c0;
}

#sortNav table {
  border-collapse: collapse;
  border: 4px solid #d0d0d0;
  width: 100%;
  box-shadow: .3rem .3rem .8rem #d0d0d0;
  margin-bottom: 1rem;
}

#sortNav table tr th {
  background: #c9c9c9;
  /* font-weight: 300; */
}

#sortNav table tr td {
  border: 1px solid #999;
}

#sortNav dt {
  border: 2px solid #888;
  border-top: 3px solid #81d680;
  border-right: 3px solid #d35852;
  border-bottom: 2px solid #ead141;
  border-left: 3px solid #7296e5;
  padding: 1rem 0 1rem 1rem;
  border-radius: .4rem;
  color: #2755A0;
  font-weight: bold;
  margin-bottom: .6rem;
  box-shadow: .25rem .25rem .5rem #e0e0e0;
  text-decoration: none;
}

#sortNav dt:hover {
  background: #e0e0e0;
  cursor: pointer;
  text-decoration: underline;
}

#sortNav dd td {
  font-size: .9rem;
  padding: 0;
}

#sortNav dd td a {

}

#sortNav dd td a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: white;
  padding: .4rem;
}

#sortNav dd td a:hover {
  background: #d0d0d0;
}

#searchStudent {
  margin-top: .7rem;
}

#searchEmail {
  width: 99%;
  display: block;
  margin: auto;
  border: 1px solid #9cabc1;
  border-radius: .3rem;
  /* margin-top: .4rem; */
  padding: .4rem;
  box-shadow: .2rem .2rem .5rem #d0d0d0;
}

#searchSubmit {
  display: block;
  margin: auto;
  width: 35%;
  margin-top: .55rem;
  padding: .2rem .3rem;
}

#majorSummaryGraph {
  font-size: 2.4rem;
  margin-top: 2rem;
  color: #555;
}

#majorSummaryGraph span {
  font-size: 10rem;
  letter-spacing: -1px;
  color: #888;
  padding-right: .851rem;
}

#emailPendingLink {
  border: 2px solid #db5346;
  border-radius: .3rem;
  box-shadow: .3rem .3rem .8rem #c0c0c0;
  width: 100%;
  max-width: none;
  padding-left: 1rem;
  font-weight: bold;
}

#emailPendingLink a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  text-decoration: none;
}

#emailPendingLink:hover {
  border: 1px solid #333;
  box-shadow: .3rem .3rem .8rem #888;
}

#emailPendingLink img {
  width: 25px;
  /* float: left; */
}

#emailPendingLink p a:hover {
  text-decoration: underline;
}

#darkTotal {
  background: #444;
  color: white;
  font-weight: bold;
}
