table {
  margin: auto;
}

table, tr, th, td {
  border: 1px solid #333;
  padding: .4rem;
}

h3 {
  color: #383838;
  margin-bottom: 1.5rem;
}

.red {
  color: #AD0000;
  background: white;
  text-align: center;
}

.green {
  background: #32CD32;
  background: #afedaf;
  color: white;
  color: #333;
  text-align: center;
}
