.newOptions {
  border-top: 2px dotted #ccc;
  margin-top: 1.5rem;
}

.courseRequirements {
  padding-bottom: 2.81rem;
}

p.addCourse {
  cursor: pointer;
  color: #2A5DB0;
  text-decoration: none;
}

p.addCourse:hover {
  cursor: pointer;
  text-decoration: underline;
}
