* {
  margin: 0;
}

html {
  background: #a0a0a0;
  font-size: 16px;
}

header {
  border-bottom: 1px solid #0021a5;
  position: fixed;
  width: 100%;
  background: black;
  color: white;
  height: 40px;
  z-index: 1000;
}

.container {
  width: 500px;
  margin: auto;
  padding-top: 41px;
  background: white;
  position: relative;
}

a {
  display: inline-block;
  width: 40%;
}

a:hover {
  color: orange;
}

#sidebar {
  width: 20%;
  position: absolute;
  top: 70px;
  left: 10px;
  background: green;
}



#page {
  width: 75%;
  background: white;
  position: absolute;
  right: 0;
  top: 70px;
}

footer {
  border-top: 1px solid #a0a0a0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: purple;
  width: 100%;
}

.clear {
  clear: both;
}
