* {margin: 0; padding: 0;}

.container {
  width: 500px;
  margin: auto;
  border: 1px solid red;
}

.left {
  float: left;
  width: 30%;
  border: 1px solid gray;
}

.right {
  float: left;
  width: 30%;
  border: 1px solid gray;
}

.clear {
  clear: both;
}
