.UFO {
  border-top: 1px solid black;
  margin-top: 30px;
  padding-top: 15px;
}

.UFO img {
  width: 50%;
  border: 2px solid #999;
  border-radius: 5px;
  margin-top: 20px;
}

ul {
  border: 1px dashed #a0a0a0;
}
