/* html {
  background: #111;
}

.container {
  background: white;
} */


h2 {
  border-top: 1px solid black;
}

h3 {
  font-size: 40px;
  color: #000;
}

h4 {
  font-weight: 900;
  color: #444;
  font-size: 20px;
}

.slugLede {
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

section {
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 30px;
  margin-bottom: 28px;

}

.department {
  border-radius: 5px;
  float: left;
  width: 550px;
}

#general {
  border: 3px solid red;
}
#phpb {
  border: 3px solid green;
}
#ufo {
  border: 3px solid blue;
}



.documentationSection {
  width: 32.8%;
  float: left;
  border: 1px solid #555;
  border-radius: 5px;
}

.social img {
  width: 40px;
  display: inline;
}

/* end left side hold general section */


.tallyPad {
  float: left;
  width: 400px;
  border: 3px solid #edbf07;
  border-radius: 5px;
  margin-left: 15px;
  /* border: 3px solid #fcca05; */
}


.tiers {
  width: 350px;
  border: 3px solid #3d3d3d;
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
  overflow: hidden;
}

.tiers h2 {
  font-size: 80px;
  text-align: center;
  background: #111;
  color: white;
  margin-top: 0;
  padding-left: 15px;
  line-height: 1;
}
.tiers h3 {
  background: #333;
  color: white;
  margin-top: 0;
  padding-left: 15px;
}

#phpbSection {
  border: 3px solid green;
  border-radius: 5px;
  margin-top: 15px;
  width: 49%;
  float: left;
}

#ufoSection {
  border: 3px solid blue;
  border-radius: 5px;
  margin-top: 15px;
  width: 49%;
  float: left;
}

#spitSection {
  border: 3px solid gold;
  border-radius: 5px;
  margin-top: 15px;
}

img {
  width: 30%;
}

.manual img {
  width: 100%;
}

#outreach {
  /* height: 816.38px; */
  width: 507.41px;
  border: 1px solid black;
}

.lineBreaker {
  border-top: 1px solid black;
  padding-top: 15px;
}

#stats {
  font-family: monospace, monospace;
  border-top: 1px dashed #c0c0c0;
  padding-top: 25px;
  border-bottom: 1px solid #333;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

#stats p {
  text-align: center;
  margin-bottom: 20px;
}

.queue {
  margin: auto;
  margin-bottom: 15px;
}

#frequency td {
  text-align: center;
}


.darkHolder {
  background: #222;
  width: 100%;
  padding: 15px 0 20px 0;
}

.card {
  width: 90%;
  margin: auto;
  border: 1px solid black;
  background: white;
  padding: 5px 15px;
  border-radius: 5px;
}

.tiny {
  font-size: 15px;
}

.blue {
  color: blue;
}

.green {
  color: green;
}


.purple {
  color: #551A8B;
}

.happy {
  border: 3px solid #FF69B4;
  border-radius: 5px;
}
