h2 {
  border-top: 1px solid black;
}


h3 {
  font-size: 26px;
}

h4 {
  font-weight: 900;
  color: #333;
  font-size: 20px;
}

#generalSection {
  border: 3px solid red;
  border-radius: 5px;
}

#phpbSection {
  border: 3px solid green;
  border-radius: 5px;
  margin-top: 15px;
}

#ufoSection {
  border: 3px solid blue;
  border-radius: 5px;
  margin-top: 15px;
}

#spitSection {
  border: 3px solid gold;
  border-radius: 5px;
  margin-top: 15px;
}

.UFO {
  border-top: 1px solid black;
  margin-top: 30px;
  padding-top: 15px;
}

.UFO img {
  width: 50%;
  border: 2px solid #999;
  border-radius: 5px;
  margin-top: 20px;
}


.manual {
  border: 1px solid black;
  width: 50%;
  float: right;
}

.manual h2 {
  border-top: none;
  border-bottom: 1px solid black;
}

#schematicTable {
  margin-bottom: 25px;
}

.locationImage {
  width: 99%;
  display: block;
  margin: auto;
  border: 1px solid gray;
}

.hold {
  border-top: 1px dashed black;
}

.tiny {
  font-size: 15px;
}

#tickets, #tools {
  width: 50%;
  float: left;
}
