* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: auto;
}

p, li {
  font-size: 21px;
  line-height: 1.5;
}

header {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#shortHead {
  /* margin-bottom: 10px; */
  background: #FA4616;
  width: 60px;
  float: left;
  /* border: 1px solid red; this ORANGE */
}

h1 {
  font-size: 29px;
  float: left;
  margin-top: 10px;
  background: #0021A5;
  color: white;
  border: 1px solid blue;
  padding: 1px 7px 5px 5px;
  font-weight: 600;
}

#shortHead ul {
  float: left;
  list-style: none;
  margin-top: 3px;
  margin-bottom: 15px;
  margin-left: 6px;
}
h1 a, #shortHead li a {
  color: white;
  text-decoration: none;
}

#navListRightOfLogo {
  float: left;
  background: white;
  margin-left: 65px;
  margin-top: 16px;
  list-style: none;
}

#navListRightOfLogo li {
  float: left;
  /* width: 50px; */
  margin-right: 15px;
}

#navListRightOfLogo a {
  color: #0021A5;
  text-decoration: none;
}

#navListRightOfLogo a:hover {
  color: #FA4616;
}

#sketch_homepage {
  width: 58%;
  float: left;
  border: 1px solid black;
}

.contactID li {
  line-height: 1.8;
}

.monospace {
  font-family: monospace, monospace;
}

.address {
  font-style: italic;
  padding-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #888;
}

.report {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-left: 5px;

}

nav {
  float: left;
  width: 40%;
  border: 1px solid gray;
}

.contactID {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 15px;
}

#subnav { /* ul */
  margin: 0;
  padding: 0;
  line-height: normal;
  width: 90%;
  margin: auto;
  min-width: 300px;
}

#subnav li {
  float: left;
  width: 33.28%;
  text-align: center;
  list-style: none;
}

.tasks {
  border-top: 1px solid #d0d0d0;
  margin-top: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
}

ul, ol {
  margin-left: 30px;
}

h2 {
  margin: 13px 0 20px 0;
}

h3 {
  font-size: 24px;
}

h3, h4 {
  margin: 15px 0 5px 0;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
  color: #222;
}

nav h2 {
  margin-left: 15px;
  margin-bottom: 5px;
}

nav ul {
  margin-left: 30px;
}


li {
  line-height: 1.5;
}

#outsideHire {
  margin-top: 10px;
  margin-bottom: 10px;
}


.fixList {
  border: 1px solid #b0b0b0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.taskSection  {
  padding-left: 20px;
  padding-right: 30px;
  width: 60%;
  float: left;
}

.taskSection h2 {
  padding-top: 0;
  margin-top: 0;
}

.processTier {
  width: 30%;
  float: left;
  background: white;
  border: 1px dashed blue;
  padding-left: 15px;
  padding-bottom: 15px;
}

.advising {
  width: 100%;
  min-width: 750px;
  margin: auto;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#advisingBar {
  padding: 5px 0 15px;
  background: #242424;
  border: 4px solid #d6ba06;
  border: 4px solid #ceb721;
}


.advisingSection {
  width: 31%;
  float: left;
  margin-top: 8px;
  border-top: 1px solid #e0e0e0;
  background: white;
  margin-left: 1%;
  padding: .5%;
}

.advisingSection h3 {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
}

.advisingQuestions {
  margin: auto;
  border-top: 1px dashed #d0d0d0;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 750px;
}

.fullImage img {
  width: 975px;
  display: block;
  margin: auto;
  border: 10px solid #e0e0e0;
  border-radius: 5px;
}

.spit {
  margin-top: 10px;
}

#email {margin-bottom: 15px;}

.treetree {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  border-left: 5px solid #e0e0e0;
  border-right: 5px solid #e0e0e0;
  margin-top: 20px;
  padding: 15px;
}

#grabs {
  border-top: 1px dashed gray;
  padding-top: 15px;
}

footer {
  border-top: 1px solid #d0d0d0;
  margin-top: 20px;
  padding-top: 15px;
  margin-bottom: 30px;
}

footer p {
  text-align: center;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}
