.holdShortHeader {
  float: left;
  background: white;
  width: 112px;
}

#navShortHeader {
  /* orange  */
  background: #FA4616;
  width: 60px;
  float: left;
}

#navShortHeader ul {
  float: left;
  list-style: none;
  margin-top: 3px;
  margin-bottom: 15px;
  margin-left: 6px;
  width: 30%;
}

#eert {
  float: left;
  width: 20%;
  margin-top: 67px;
  list-style: none;
  margin-left: 8px;
  padding-left: 0;
}

#eert li {font-size: 10px;}

#eert a {
  text-decoration: none;
  color: #c0c0c0;
}

#eert a:hover {
  text-decoration: underline;
}


h1 a, #navShortHeader li a {
  color: white;
  text-decoration: none;
}


.holdLinksHeader {
  /* background: blue; */
  float: left;
}

.holdLinksHeader ul {
  margin-left: 15px;
}


.holdLinksHeader a {
  color: #0021A5;
  text-decoration: none;
}

#navLindex {
  /* background: green; */
  float: left;
  margin-top: 16px;
  list-style: none;
}

#navLindex li {
  float: left;
  margin-right: 15px;
}


.holdLinksHeader a:hover {
  color: #FA4616;
}

#navAdminLinks {
  /* background: red; */
  clear: left;
  float: left;
  margin-left: 16px;
}

#navAdminLinks li {
  list-style: none;
  float: left;
  margin-right: 15px;
  font-size: 17px;
}

/* sketch homepage */
/* sketch homepage */

#sketch_homepage {
  width: 58%;
  float: left;
  border: 1px solid black;
}

.contactID li {
  line-height: 1.8;
}

.address {
  font-style: italic;
  padding-left: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #888;
}

.report {
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 35px;
  padding-left: 5px;

}

.contactID {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 15px;
}

#subnav { /* ul */
  margin: 0;
  padding: 0;
  line-height: normal;
  width: 90%;
  margin: auto;
  min-width: 300px;
}

#subnav li {
  float: left;
  width: 33.28%;
  text-align: center;
  list-style: none;
}

.tasks {
  border-top: 1px solid #d0d0d0;
  margin-top: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#outsideHire {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fixList {
  border: 1px solid #b0b0b0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.taskSection  {
  padding-left: 20px;
  padding-right: 30px;
  width: 60%;
  float: left;
}

.taskSection h2 {
  padding-top: 0;
  margin-top: 0;
}

.processTier {
  width: 30%;
  float: left;
  background: white;
  border: 1px dashed blue;
  padding-left: 15px;
  padding-bottom: 15px;
}

.advising {
  width: 100%;
  min-width: 750px;
  margin: auto;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#advisingBar {
  padding: 5px 0 15px;
  background: #242424;
  border: 4px solid #d6ba06;
  border: 4px solid #ceb721;
}

.advisingSection {
  width: 31%;
  float: left;
  margin-top: 8px;
  border-top: 1px solid #e0e0e0;
  background: white;
  margin-left: 1%;
  padding: .5%;
}

.advisingSection h3 {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 25px;
}

.advisingQuestions {
  margin: auto;
  border-top: 1px dashed #d0d0d0;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 750px;
}

.fullImage img {
  width: 975px;
  display: block;
  margin: auto;
  border: 10px solid #e0e0e0;
  border-radius: 5px;
}

.spit {
  margin-top: 10px;
}

#email {margin-bottom: 15px;}

.treetree {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  border-left: 5px solid #e0e0e0;
  border-right: 5px solid #e0e0e0;
  margin-top: 20px;
  padding: 15px;
}

#grabs {
  border-top: 1px dashed gray;
  padding-top: 15px;
}

.divider {
  border-top: 1px solid #444;
  margin-top: 25px;
  padding-top: 15px;
}

/* former styles  */

.about p, .about li {
  font-size: 19px;
}

.about h3 {
  font-size: 21px;
}

.contact p {
  margin-top: 0;
  margin-bottom: 0;
}

.day {
  border-bottom: 1px dashed gray;
  padding-bottom: 35px;
  margin-bottom: 40px;
}
