ol li {
  font-weight: bold;
}


@media screen and (min-width: 600px) {

  #container ol {
    width: 87%;
    padding-left: 0;
  }

  #container ol li {
    margin-left: 0;
    list-style-position: inside;
    width: 100%;
    font-size: 1.4rem;
  }

}
