.background {

  /* blue */
  background: #587096;
  background: #405475;
  background: #32425b;

  /* orange */
  background: #ffd8ad;
  background: #E28F41; /* UF - Pale Orange */

  /* gray */
  background: #d0d0d0;
  
}
