.background {

  /* blue */
  background: #32425b; /* dark blue */
  background: #405475; /* pale dark blue */
  background: #478af7; /* original blue */
  background: #394963; /* soft dark blue */
  #5779b2 passive blue

  #2A5DB0  google links
  #2200CC  google live


  color: #77abff; /* pale blue core feature list */

  /* orange */
  background: #ffd8ad;
  background: #E28F41; /* UF - Pale Orange */

  /* gray */
  background: #d0d0d0;

}
