.background {

  /* blue */
  background: #32425b;
  background: #405475;
  background: #478af7; /* original blue */
  background: #394963; /* soft dark blue */

  color: #77abff; /* pale blue core feature list */

  /* orange */
  background: #ffd8ad;
  background: #E28F41; /* UF - Pale Orange */

  /* gray */
  background: #d0d0d0;

}
