
table, tr, th, td {
  border: 1px solid #666;
  padding: 8px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 30px;
  border-collapse: collapse;
  font-size: 1rem;
}

.slugTable td {
  border: 2px solid #444;
}

#twoYearProgramTable {
  border-top: 3px solid #a0a0a0;
  border-bottom: 3px solid #a0a0a0;
  border-left: 3px solid #c0c0c0;
  border-right: 3px solid #c0c0c0;
  text-align: center;
}

#twoYearProgramTable th {
  text-align: center;
}

.yearTwoBorder {
  border-left: 2px solid #888;
}

#yearTwoHead {
  background: #E28F41;
}

#topBulletPoints {
  border: 1px solid black;
}

#courseSchedule {
  border-top: 1px solid #d0d0d0;
  padding-top: 20px;
}

table#springTwo {
  margin-bottom: 20px;
}

#totalTable {
  margin-top: 0;
}

#totalTable tr, #totalTable td {
  border: 2px solid #43617c;
}

.elective {
  border-radius: 5px;
  border: 1px solid black;
  padding-bottom: 15px;
}

.preNotice {
  width: 93%;
  margin: auto;
  border: 1px solid black;
  margin-top: 25px;
}

.dateHead {
  color: #43617c;
  margin: 0;
  text-align: center;
  padding: .9rem 0 1rem 0;
  background: white;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.trueTableHead {
  color: #43617c;
  padding: .5rem 1.2rem .8rem 1.2rem;
  background: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
