#noLeft {
  border-left: none;
}

#noRight {
  border-right: none;
}

table {
  width: 90%;
  max-width: none;
  text-align: center;
}

.arrow { /* image */
  width: 1rem;
  margin-right: .5rem;
}

/* class to be used by jQuery */
.rotate {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	}

.shell dl {
  width: 87%;
  margin: auto;
  font-size: 1.2rem;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding-top: 1.3rem;
  padding-bottom: 1.4rem;
}

#noBottomBorder {
  border-bottom: none;
  border-top: 1px solid #d0d0d0;
}

.shell dt {
  font-size: 1.3rem;
  color: #6C9AC3;
  color: #333;
  color: #587096;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.shell dt:hover {
  color: #a0a0a0;
}

#resources {
  margin-top: 2rem;
}

#resourcesImage {
  width: 80%;
  display: block;
  margin: auto;
  background: black;
}

#resources ul {
  width: 100%;
  padding: 0;
}

#resources li {
  background: white;
  border-top: 1px solid #E28F41;
  list-style: none;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  padding: .8rem 0 1.2rem 0;
}

.stackedList li:last-child {
  border-bottom: 1px solid #E28F41;
}

#resources a {
  color: #2A5DB0;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#resources li a:hover {
  color: #122a51;
}

#resourcesContainer {
  width: 87%;
  margin: auto;
}


@media screen and (min-width: 600px) {


  #resourcesLinks {
    display: flex;
    justify-content: space-around;
  }

  .resourcesUL {
    width: 45%;
  }


  #resources li {
    border: 1px solid #E28F41;
  }

  #resourcesImage {
    max-width: 460px;
  }

  #resources h4 {
    width: 100%;
  }


}

@media screen and (min-width: 992px) {

  #resources {
    width: 87%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }

  #resourcesImage {
    width: 40%;
    float: left;
  }

  #resourcesLinks {
    width: 45%;
    display: block;
  }

  .resourcesUL {
    width: 100%;
  }

}
