.page dl {
  display: block;
}

.page dt { /* define term, top */
  outline-style: none;
  outline-width: none;
  outline-color: none;
  text-align: left;
  list-style: none;
  float: none;
  line-height: 2.5;
  font-size: 1.6rem;
  font-weight: bold;
  width: 83%;
  margin: auto;
  margin-top: 2rem;
  background: white;
  color: #366dc4;
  padding-bottom: 0rem;
  padding-left: .5rem;
}

.page dt:hover {
  cursor: pointer;
  color: #387eed;
}

.page dd {
  line-height: 1.4;
  padding: 1rem 0;
  background: white;
  line-height: 2.5;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  width: 83%;
  margin: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2.5rem;
  padding-left: .5rem;
  background: white;
}
