* {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

/*

	container   100%

	maxWidth  1500px

	page     	 992px

	pMaxWidth  550px

	break  @   600px | 992px

*/


html {font-size: 16px;}

body {
	background: #2b72fe;
	background: #478af7;
	background: white;
	min-width: 320px;
}

#container {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	background: red;
	background: #478af7;
	background: white;
}

.page {
	margin: auto;
	width: 100%;
	max-width: 992px;
	background:#FFF;
}

.maxWidth {
	max-width: 1500px;
	margin: auto;
}

header {
	border-bottom: 1px solid white;
}

#logos {
	height: 42px;
	background: #478af7;
	padding-top: .5rem;
	margin: auto;
	border-bottom: 1px solid #eee;
}

#logos a {
	color: #2b72fe;
	border: 3px solid #999;
	padding: 2px .8rem;
	border-radius: 5px;
	background: #f0f0f0;
}

#dept {float: left;margin-top:8px; margin-left: 1rem;}
#uf {float: right; margin-top:8px; margin-right: 1rem;}

header li a {color: white;}

dt { /* define term, top */
	outline-style: solid;
	outline-width: 1px;
	outline-color: #fff;
	text-align: center;
	list-style: none;
	line-height: 2.5;
	font-size: 1.3rem;
	float: left;
	width: 100%;
	background: #E28F41;
	color: white;
	}

dd {
	line-height: 8;
	background: #478af7;
}

dd ul li {
	line-height: 5;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #fff;
}

.newlyAdmittedBackground {
	background: #E28F41;
	font-weight: 500;
	line-height: 2.4;
}

.newlyAdmittedBackground a {
	color: white;
}

/* end nav nav nav nav nav nav nav nav nav nav  */
/* sidebar sidebar sidebar sidebar sidebar sid */

.sidebar {display: none;}

/* end sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar */

#container img {
  width: 100%;
  margin-bottom: 0;
}

/* switches the image on resizing to Desktop */
.mobileImage  {display: block;}
.desktopImage {display: none;}

/* h2 is the page title */
h2 {
	font-size: 2.8rem;
	color: #0021A5;
	width: 86%;
	max-width: 992px;
	padding: 2rem 0 .5rem 0;
	margin: 0 auto;
}

/* Slug is the quote below the h2 page title  */
.slug {
	margin: 2rem auto 0 auto;
	padding: 2.9rem 0 3rem 0;
	border-top: 1px solid #f0f0f0;
}

.slug p {
	margin-top: 0;
	font-size: 1.3rem;
	text-align: center;
	color: #737373;
	letter-spacing: .7px;
	line-height: 1.5;
}

h3 {
	font-size: 2.3rem;
	width: 84%;
	margin: 2.8rem auto 2rem auto;
	color: #6893ba;
	color: #436f96;
}

h4 {
	font-size: 2rem;
	width: 84%;
	margin: 3rem auto 10px auto;
	color: #6C9AC3;
}

p {
	width: 84%;
	margin: auto;
	margin-top: 1.1rem;
	line-height: 2;
	font-size: 1.4rem;
	color: #444;
}

.page p, .page h3, .page h4, .page ul {
	max-width: 550px;
}

.page ul, .page ol {
	width: 84%;
	margin: 25px auto;
}

.page li {
	width: 84%;
	margin: 3px auto 1rem auto;
	color: #444;
 	font-size: 1.5rem;
	line-height: 1.8;
}

/* unused:  */

h5 {
	font-size: 1.2rem;
	color: #555;
	width: 86%;
	margin: 1.3rem auto;
}

h6 {
	font-size: 1rem;
	color: #666;
	width: 86%;
	margin: 1.3rem auto;
}

section {
	border-top: 2px solid #999;
	border-right: 1px solid #c0c0c0;
	border-bottom: 2px solid #999;
	border-left: 1px solid #c0c0c0;
	border-radius: 5px;
	margin: .91rem auto 1.1rem auto;
	padding: 0 0 2rem 0;
	width: 95%;
	box-shadow: 20px 20px 20px #d0d0d0;
}

section.slug {
  font-size: 1.9rem;
	margin-top: 0;
	color: #3a3a3a;
}

table, tr, th, td {
	border: 1px solid #888;
	color: #434343;
}

table {
	width: 95%;
	margin: auto;
	border-collapse: collapse;
}

th {
	background:#6C9AC3;
	font-weight:bold;
	padding:5px;
	color: #333;
}

td {
	padding:5px;
	vertical-align:top;
	line-height: 1.5;
}

.tdBackground {
	background: #d7dde5;
}

/* special Features */
/* special Features */
/* special Features */

/* core feature core feature core feature */

.coreFeature {
	border: 1px solid #d0d0d0;
	padding: 25px 0 3rem 0;
}

.coreFeature h4 {
	font-size: 2.1rem;
	margin: 1.5rem auto 2rem auto;
}

.coreFeature h4 a {
  color: #6C9AC3;
}

.coreFeature ul {
	margin-top: 2rem;
}

.coreFeature li {
	font-size: 1.5rem;
	color: #77abff;
	list-style: none;
	width: 100%;
	margin-left: .3rem;
}

.coreFeature li a {
	margin-left: .5rem;
	text-decoration: underline;
	color: #77abff;
}

/* list box  */ /* list box  */ /* list box  */

.listAndInfoBox {
  width: 78%;
  margin: 1.5rem auto;
}

.listAndInfoBox ul {
	background: none;
	width: 86%;
	margin: auto;
}

.listAndInfoBox li {
	font-size: 1.3rem;
	line-height: 1.8;
	width: 100%;
	color: #365587;
	margin: 2rem 0 1rem 0;
	font-weight: bold;
}

.listAndInfoBox p {
  width: 95%;
  padding-right: 50px;
	margin-top: 0;
}

/* apply button apply button apply apply  */

.apply {
	border-bottom: 1px solid #d0d0d0;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 15px;
}

.apply button {
	display: block;
	margin: 11px auto 12px auto;
	width: 72%;
	border: 4px solid #E28F41;
	line-height: 2;
	padding-top: 3px;
	padding-bottom: 6px;
	font-size: 1.2rem;
	background: #fff9f2;
	color: #6C9AC3;
	border-radius: 3px;
	font-weight: bold;
	letter-spacing: 3px;
}

.apply button:hover {
	background: blue;
	color: orange;
}

/* footer */ /* footer */ /* footer */

footer {
	padding: 20px 0 10px 0;
	font-size: .7rem;
	background: white;
	margin: auto;
	max-width: 992px;
	border-top: 1px solid #478af7;
}

footer ul {
	width: 86%;
	margin: auto;
}

footer li {
	float: left;
	border-right: 1px solid #777;
	padding: 0px 5px;
	margin: 3px 0;
	list-style: none;
}

footer p {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
}

#contactSection {
	background: white;
}

#contactSection p {
	color: #444;
	letter-spacing: 1px;
	line-height: 1.5;
	text-align: left;
	/* margin-bottom: 1rem; */
}

#contactSection h4 {
	padding: .7rem 0 0 0;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	width: 84%;
	margin: 1rem auto 1.3rem auto;
}

#contactSection a {
	color: #436f96;
	text-decoration: underline;
}

/* social media section */ /* social media section */ /* social media section */

#socialMediaIconBorders {
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	width: 84%;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 20px;
}

#socialMediaSection {
	background: red;
	width: 40%;
	min-width: 140px;
	max-width: 180px;
	margin: 0;
	background: white;
}

.socialmedia {
	width: 50%;
	float: left;
}

.socialmedia img {
	display: block;
	margin: auto;
	opacity: 0.6;
}

.socialmedia img:hover {opacity: 1;}

#frequentGeneralLinks p {
	text-align: center;
	font-size: .8rem;
}

#googleAnalyticsSlug {
	text-align: left;
	font-style: italic;
	margin-top: 15px;
	font-size: .65rem;
}

/* end footer  */ /* end footer  */ /* end footer  */

/* start links */
/* start links */
/* start links */
a {color: blue;}
/* end links */
/* end links */
/* end links */

.blackBottomBorder {
	border-bottom: 1px solid black;
}

.normalWeight {
	font-weight: normal;
}

.heavy {
	font-weight: 800;
}

.marginTop {
	margin-top: 10px;
}

.tiny {
	font-size: .8rem;
}

.small {
	font-size: 1rem;
}

.medium {
	font-size: 2rem;
}

.bigNumber {
	font-size: 4rem;
}

.italic {
	font-style: italic;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}


@media screen and (min-width: 992px) {

	.coreFeature {
		/* margin: 15px auto 20px auto; */
		border: 1px solid #d0d0d0;
		padding: 25px 0 3rem 0;
	}

	.coreFeature h4 {
		font-size: 2.1rem;
		margin: 1.5rem auto 2rem auto;
	}

	.coreFeature h4 a {
	  color: #6C9AC3;
	}

	.coreFeature ul {
		margin-top: 2rem;
	}

	.coreFeature li {
		font-size: 1.5rem;
		color: #77abff;
		list-style: none;
		width: 100%;
		margin-left: .3rem;
	}

	.coreFeature li a {
		margin-left: .5rem;
		text-decoration: underline;
		color: #77abff;
	}
}
