* {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

html {font-size: 16px;}

body {
	background: #2b72fe;
	background: #478af7;
	/* background: green; */
}

#container {
	width: 100%;
	/* max-width: 960px; */
	margin: 0 auto;
	padding: 0 0 20px 0;
	text-align: left;
	background: red;
}

.sidebar {
	display: none;
}

.content {
	background:#FFF;
	background: black;
	/* float:right; */
	width: 100%;
	/* max-width: 715px; */
	padding-bottom: 12px;
}

#clasUfNavBar {
	height: 42px;
	padding-top: 2px;  /* delete this */
}

#clasUfNavBar a {
	color: #2b72fe;
	border: 3px solid #999;
	padding: 2px .8rem;
	border-radius: 5px;
	background: #f0f0f0;
}

header {
	border-bottom: 1px solid gray;
	padding-top: .8rem;
}

header img {
	width: 90px;
	height: 20px;
	margin-top: 10px;
}
#dept {float: left;margin-top:8px; margin-left: 1rem;}
#uf {float: right; margin-top:8px; margin-right: 1rem;}

header nav {
	width: 100%;
	min-width: 315px;
	/*max-width: 600px; /* pay attention to this max width max width | what's holding the top-most nav links to UF and CLAS -- does CLAS have a logo? */
	margin: 0 auto;
	background: #2b72fe;
}

header nav ul, header nav ul li {
	margin: 0;
	padding: 0;
}

header nav li {
	float: left;
	outline-style: solid;
	outline-width: 1px;
	outline-color: #fff;
	text-align: center;
	list-style: none;
	line-height: 2.5;
	font-size: 1.6rem;
	background: #478af7;
}
header li a {color: white;}

#navOne {
	width: 69%;
}

.gone {
	display: none;
}

@media screen and (min-width: 992px) {
	.gone {
		display: block;
	}

	nav dl {
		display: none;
	}
}

#navThree {
	background: #E28F41;
	width: 30.7%;
}

dl {
	/* float: left; */
}

dt {
	outline-style: solid;
	outline-width: 1px;
	outline-color: #fff;
	text-align: center;
	list-style: none;
	line-height: 2.5;
	font-size: 1.3rem;
	float: left;
	width: 100%;
	background: #E28F41;
	color: white;
	}

dd {
	/* width: 100%; */
	line-height: 8;
}

header nav dl dd ul li {
	line-height: 5;
}

dd li {
	width: 100%;
	line-height: 8;
}

/* end nav  */
/* end nav  */
/* end nav  */

.content img {
  width: 100%;
  margin-bottom: 0;
  /* width="715" height="194" */
}

h1 {
	font-size: 2.8rem;
	/* color:#000066; */
	color: #0021A5;
	width: 86%;
	padding: 2rem 0 .5rem 0;
	margin: 0 auto;
}

.slug {
	margin: 2rem auto 0 auto;
	padding: 2.9rem 0 3rem 0;
	border-top: 1px solid #f0f0f0;
}

.slug p {
	/* width: 84%; */
	margin-top: 0;
	font-size: 1.3rem;
	text-align: center;
	color: #999;
	letter-spacing: .7px;
	line-height: 1.5;
}


h2 {
	font-size: 2.3rem;
	width: 84%;
	margin: 2.8rem auto 2rem auto;
	color: #6893ba;
	color: #436f96;
}

h3 {
	font-size: 2rem;
	width: 84%;
	margin: 3rem auto 10px auto;
	color: #6C9AC3;
}


p {
	width: 84%;
	margin: auto;
	margin-top: 1.1rem;
	line-height: 2;
	font-size: 1.4rem;
	color: #444;
}

.content ul, .content ol {
	width: 84%;
	margin: 25px auto;
}

.content li {
	width: 84%;
	margin: 3px auto 1rem auto;
	color: #444;
 	font-size: 1.5rem;
	line-height: 1.8;
}

/* list box  */ /* list box  */ /* list box  */

.listAndInfoBox {
  width: 78%;
  margin: 1.5rem auto;
}

.listAndInfoBox ul {
	background: none;
	width: 86%;
	margin: auto;
}

.listAndInfoBox li {
	/* padding: 0px 5px; */
	font-size: 1.3rem;
	/* font-size: 1.2rem; */
	line-height: 1.8;
	width: 100%;
	color: #365587;
	margin: 2rem 0 1rem 0;
	font-weight: bold;
}

.listAndInfoBox p {
  width: 95%;
  padding-right: 50px;
	margin-top: 0;
}

h5 {
	font-size: 1.2rem;
	color: #444;
	width: 86%;
	margin: 1.3rem auto;
}


.apply {
	border-bottom: 1px solid #d0d0d0;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 15px;
}

.apply button {
	display: block;
	margin: 11px auto 12px auto;
	width: 72%;
	border: 4px solid #E28F41;
	line-height: 2;
	padding-top: 3px;
	padding-bottom: 6px;
	font-size: 1.2rem;
	background: #fff9f2;
	color: #6C9AC3;
	border-radius: 3px;
	font-weight: bold;
	letter-spacing: 3px;
}

.apply button:hover {
	background: blue;
	color: orange;
}

section {
	border-top: 2px solid #999;
	border-right: 1px solid #c0c0c0;
	border-bottom: 2px solid #999;
	border-left: 1px solid #c0c0c0;
	border-radius: 5px;
	margin: .91rem auto 1.1rem auto;
	padding: 0 0 2rem 0;
	width: 95%;
}

/* section p {
	width: 83%;
} */

#applicationSlug {
  font-size: 1.9rem;
	margin-top: 0;
	color: #3a3a3a;
}


table, tr, th, td {
	border: 1px solid #888;
}

table {
	width: 95%;
	margin: auto;
	border-collapse: collapse;
}

th {
	background:#6C9AC3;
	font-weight:bold;
	padding:5px;
}

td {
	padding:5px;
	vertical-align:top;
	line-height: 1.5;
}

/* sidenav  */ /* sidenav  */ /* sidenav  */



.footerNavigationSection nav {
	width: 100%;
}

.footerNavigationSection nav ul {
	margin: 0;
}

.footerNavigationSection nav li {
	color: #fefefe;
	/* padding: 0px 0; */
	background: #478af7;

	display: block;
	margin-top: 0;
	text-align: center;
	border-top: 1px solid black;
	line-height: 2.8;
	font-size: 1.2rem;
}

.footerNavigationSection nav li a {
	padding: 19px 0;
	display: block;
}

#newlyAdmittedLink {
	background: #E28F41;
	font-weight: 500;
	line-height: 2.4;
}

#newlyAdmittedLink a {
	color: white;
}

.blackBottomBorder {
	border-bottom: 1px solid black;
}

#contactSections {
	border: 1px solid white;
	background: white;
	border-bottom: none;
}

#contactSections p {
	color: #444;
}

#contactSections h3 {
	padding: .7rem 0 0 0;
	font-size: 1.8rem;
	letter-spacing: .1rem;
	width: 84%;
	margin: 1rem auto 1.3rem auto;
}

#contactSections a {
	color: #436f96;
	text-decoration: underline;
}

#contactSections p {
	letter-spacing: 1px;
	line-height: 1.5;
}

/* social media section */ /* social media section */ /* social media section */

#socialMediaSection {
	border-top: 1px solid #d0d0d0;
	padding-top: 20px;
	padding-bottom: 20px;
	background: none;
	width: 70%;
	margin: 20px auto 0 auto;
	background: white;
}

.socialmedia {
	width: 32.8%;
	float: left;
}
.socialmedia img {
	display: block;
	margin: auto;
	opacity: 0.6;
}
.socialmedia img:hover {opacity: 1;}

/* footer */ /* footer */ /* footer */

footer {
	/* margin-top: 15px; */
	padding: 20px 0 10px 0;
	font-size: .7rem;
	background: white;
}

footer ul {
	width: 86%;
	margin: auto;
	margin-bottom: 15px;
}
footer li {
	float: left;
	border-right: 1px solid #777;
	padding: 0px 5px;
	margin: 3px 0;
	list-style: none;
}

.footerLastNoBorder {
	border-right: none;
}

footer p {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
}

footer h3 {display: none;}

footer a {
	color: white;
}

#googleAnalyticsSlug {
	text-align: left;
	font-style: italic;
	margin-top: 15px;
	font-size: .65rem;
}

/* end footer  */ /* end footer  */ /* end footer  */

/* start links */
/* start links */
/* start links */
a {text-decoration: none;}
a:link,  a:visited {color:#0021a5;} /* blue */
a:hover, a:active  {color:#ff4a00;} /* orange */
/*.content p a, .content li a { /* dark blue * / border-bottom: 1px solid #0021A5;} */
.content p a:link, .content p a:visited {color: #24b; /* blue */}
.content li a:hover, .content li a:active, .content p a:hover, .content p a:active {color: #f40; /* orange */text-decoration: none;}
nav a:link {display: inline-block;width: 100%;}
nav a:link, nav a:visited {color: #FFFFCC;}
nav li a:hover, nav p a:hover { /* keep, nav li background hover */background: #5791d2;}
footer a:link,a:visited {color: #000066;text-decoration: none;}
footer a:hover {color: #FF6600;}
header li a:visited {color: white;}
/* end links */
/* end links */
/* end links */

.normalWeight {
	font-weight: normal;
}

.heavy {
	font-weight: 800;
}

.marginTop {
	margin-top: 10px;
}

.tiny {
	font-size: .8rem;
}

.small {
	font-size: 1rem;
}

.medium {
	font-size: 2rem;
}

.italic {
	font-style: italic;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}
