@media screen and (min-width: 600px) {}
@media screen and (min-width: 992px) {

  dl {
    display: none;
  }

  .mobileImage {
    display: none;
  }

  .desktopImage {
    display: block;
  }

  .sidebar {
    display: block;
    background: #E28F41;
    width: 100%;
    margin: auto;
  }

  .sidebar li {
    overflow: hidden;
  	float: left;
  	text-align: center;
  	list-style: none;
  	outline-style: solid;
  	outline-width: 1px;
  	outline-color: #fff;
  	line-height: 2;
    text-decoration: none;
    font-size: 1rem;
    font-size: .8rem;
  	width: 14.28%;
    background: #478af7;
    background: #E28F41;
  }

  .sidebar li a {
    display: inline-block;
    padding: .5rem;
    width: 91%;
    height: 100%;
    text-decoration: underline;
  }

  .sidebar li a:hover {
    background: #ffac5e;
    text-decoration: none;
  }

}
