@media screen and (min-width: 600px) {

  h1 {
    color: orange;
  }

  #navOne {width: 32.7%;}
  #navTwo {display: inherit; width: 32.7%;}
  #navThree {width: 32.7%;}
}

@media screen and (min-width: 992px) {
  h1 {
    color: red;
  }
}
