@media screen and (min-width: 600px) {
  h1 {
    color: orange;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    color: #0021A5;
  }

  dl {
    display: none;
  }

  .sidebar {
    display: block;
    background: green;
    width: 100%;
  }

  .sidebar li {
  	float: left;
  	text-align: center;
  	list-style: none;
  	outline-style: solid;
  	outline-width: 1px;
  	outline-color: #fff;
  	line-height: 2.5;
  	font-size: 1.6rem;
  	background: #478af7;
  	width: 11.1%;
    overflow: hidden;
  }

  .sidebar li {
    font-size: .8rem;
    background: #E28F41;
  }

}
