.page {
  margin-top: 2.81rem;
}


nav#innerNav {
  /* margin: .5rem auto 2.81rem auto; */
  margin: .5rem auto 1.5rem auto;
}

nav#innerNav ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

nav#innerNav li {
  list-style: none;
}
