  body {
    font-size: 16px;
  }

  .container {
    border: 1px solid #333;
    padding-left: 1rem;
  }


  p {
    color: red;
  }


  table, tr, th, td {
    border: 1px solid #333;
    padding: 5px;
  }

  table {
    width: 45%;
  }


  #flexy {
    display: flex;
    justify-content: space-around;
  }
