DirectoryIndex search.php
AuthType shibboleth
ShibRequireSession On
ShibUseHeaders On


#require valid-user 
require eppn nigelrayrich@ufl.edu
require eppn nraymond@ufl.edu
require eppn meents.4@ufl.edu
require eppn shannon.kelly@ufl.edu
require eppn cmatson2@ufl.edu
require UFAD_Groups ~ PV-AAC-Staff Users
require UFADGroupsDN ~ PV-AAC-Staff Users