img {
  margin-left: 0;
}

#artHeader {
  width: 100%;
  background: black;
  border: 5px solid #333;
}

#paintings {
  width: 17.8%;
  float: left;
}

#paintings img {
  width: 100%;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
}

#search {
  float: left;
  width: 81.3%;
  padding-top: 4px;
  border-left: 4px solid black;
}

/* left */

#reportItemsShell {
  border: 1px dashed gray;
  margin-top: 25px;
  padding-top: 15px;
  float: left;
}

#reportItemsShell li {
  font-size: 16px;
}

/* right */


#ticketInputSectionShell {
  float: left;
  width: 600px;
  border: 2px solid gray;
  margin-left: 5px;
  font-family: monospace, monospace;
}

.ticket {
  border: 1px solid gray;
  border-radius: 6px;
  width: 40%;
}

#start {
  float: left;
}

#churn {
  text-align: center;
  color: darkBlue;
  width: 50px;
  margin-left: 15px;
  margin-right: 25px;
  float: left;
}

#idNo {
  float: left;
  border: 1px solid #999;
  width: 250px;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
}

#submit {
  font-size: 16px;
  color: #333;
  background: white;
  border: 1px solid darkblue;
  font-family: monospace;
}

#close {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dataSection {
  width: 48%;
  float: left;
}

.dataThumb {
  width: 95%;
  margin-top: 10px;
  margin-left: 15px;
}

.slugLede {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.thumbnail {
  width: 300px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}


.orange {
  color: #FA4616;
}
