img {
  margin-left: 0;
}

#artHeader {
  width: 100%;
  background: black;
  border: 5px solid #333;
}

#paintings {
  width: 17.8%;
  float: left;
}

#paintings img {
  width: 100%;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
}

#search {
  float: left;
  width: 81.3%;
  padding-top: 4px;
  border-left: 4px solid black;
}

.reportItemsShell {
  border-top: 1px solid black;
  margin-top: 25px;
  padding-top: 15px;
  float: left;
}


.ticketInputSectionShell {
  float: left;
  width: 550px;
  height: 800px;
  border: 1px solid gray;
}

form {
  border: 2px solid #b2cfff;
  border-radius: 5px;
  height: 300px;
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 100px;
}

#submit {
  float: right;
}

.thumbnail {
  width: 300px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}


.orange {
  color: #FA4616;
}
