* {
  font-family: monospace, monospace;
}

.highlight_separate {
  border: 1px solid #a0a0a0;
  width: 100%;
  max-width: 400px;
}

.red {
  background: #ffb8c2;
}

.green {
  background: #dfffde;
}

.black {
  background: #383838;
  color: #fff;
}

.blue {
  background: #c2d9ff;
}

.orange {
  background: #ffe8c4;
}

.white {
  background: #fff;
}

.notes p {
  font-style: italic;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav li {
  margin: 0;
  padding: 0;
  width: 16.6%;
  list-style: none;
  outline-color: #c0c0c0;
  outline-width: 1px;
  outline-style: solid;
  text-align: center;
  font-size: .8rem;
}

.notes {
  background: #f0f0f0;
  color: #444;
  width: 84%;
  margin: auto;
}
