html {font-size: 16px;}
body {
  width: 800px;
  margin: auto;
}

header {
  border-bottom: 1px solid #a0a0a0;
}

h1 {
  color: blue;
  float: left;
}

header ul {
  float: left;
  margin-top: 2.2rem;
}


li {
  float: left;
  list-style: none;
  margin-right: 1rem;
}

.clear {
  clear: both;
}
