/*
 *
 * Changes made 19_06_19
 * by Alex Catalano
 *
 */

/* Keeps chairs listing tight. Talk to me about using an H4 -- it's debatable. Pulls paragraph closer to heading, separates heading three */



#chairs h3 {
  margin-top: 2rem;
  text-decoration: underline;
}

#chairs h4 {
  padding-bottom: 0;
  font-size: 1.6rem;
}

#chairs p {
  margin-top: 0;
  font-size: .95rem;
}

#chairs p b {
color: #333;
}


span.email_chair {
  font-style: italic;
}
