#stripText textarea {
  border: 1px solid #555;
  margin: 2.81rem auto;
}

#stripText textarea::placeholder{
  font-size: .78rem;
  line-height: 1;
  color: #555;
}

#studentInformation {
  margin-bottom: 2.81rem;
}

table, tr, th, td {
  border: 1px solid #999;
  padding: .8rem;
  border-collapse: collapse;
}
