.page {
  opacity: .8;
}

input[type="checkbox"] {
  height: 35px;
  width:  35px;
  display: block;
  margin: auto;
}

#input_submit_signature {
  display: block;
  margin: auto;
  padding: 1rem 0;
  width: 10rem;
}

#studentInformation {
  font-family: monospace, monospace;
}

#petitionContainer {
  border: 1px solid #c0c0c0;
  box-shadow: .3rem .3rem .8rem #c0c0c0;
}


#studentInformation {
  font-family: monospace, monospace;
}


#popUp_studentSignature {
    border: 1px solid #a0a0a0;
    padding: 1.5rem 0;
}
