#selectMajor {
  border: 1px solid #333;
  display: block;
  margin: auto;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: .5rem;
  width: 84%;
}

#writtenResponse {
    width: 84%;
    max-width: 550px;
    display: block;
    margin: auto;
    margin-bottom: 1.3rem;
    text-align: top;
    border: 1px solid gray;
    font-size: 1.3rem;
    padding: .5rem .7rem 1.3rem .7rem;
    min-height: 150px;
}
