html {
  font-size: 16px;
}

body {
  width: 700px;
  display: block;
  margin: auto;
}


input {
  padding: 1rem;
  margin-top: 1rem;
}

table, tr, td, th {
  border: 1px solid #333;
  padding: 7px;
}

table {
  margin-top: 2rem;
}
