.inputShell {
  padding-bottom: .4rem;
  border-radius: .3rem;
  width: 100%;
}

.ticketShell {
  border-radius: .4rem;
  border: 1px solid #aaa;
  width: 92%;
  margin: 2rem auto;
  padding-bottom: 0;
  box-shadow: .3rem .4rem .8rem #a0a0a0;
}

.ticketShell h4 {
  color: #fff;
  background: #575757;
  border-radius: .4rem .4rem 0 0;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
  padding: .9rem 0 .9rem 1.25rem;
}


.ticketShell li {
  color: #999;
  font-size: 1.5rem;
  list-style: none;
  width: 100%;
}

.ticketShell li a {
  text-decoration: none;
}

.ticketShell img {
  margin-right: 1rem;
}

p.checkTicket {
  font-size: .8rem;
  text-align: left;
  font-style: italic;
}

.checkTicket a {
  color: #186318;
}

p.removeTicket {
  font-size: .8rem;
  text-align: right;
  font-style: italic;
}

.removeTicket a {
  color: #9E0000;
}


/* settings */
/* settings */
/* settings */

#settings {
  width: 84%;
  margin: auto;
  padding-bottom: 1rem;
  border-radius: .4rem;
  display: flex;
  justify-content: space-around;
}

#settings img {
  display: block;
  margin: auto;
  height: 1.2rem;
  width: 1.2rem;
}

#settings ul, #settings li {
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: red; */
}

#settings li {
  font-size: .85rem;
  list-style: none;
  text-align: center;
  width: 100%;
  max-width: none;
  margin-top: .3rem;
  margin: auto;
}

@media screen and (min-width: 600px) {

  .inputShell {
    width: 84%;
  }

  .ticketShell {
    width: 90%;
  }

  .ticketShell h4 {
    font-size: 1.6rem;
  }

}
