* {
  font-family: sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: #333;
}

h2 {
  color: #444;
}

h3 {
  color: #383838;
}

li {
  line-height: 1.5;
}

a {
  color: blue;
}
a:hover {
  color: purple;
}
a:visited {
  color: #2A5DB0;
}

footer {
  border-top: 1px solid #c0c0c0;
}

footer p {
  text-align: center;
}

#container_about_errors {
  border: 1px solid #c0c0c0;
  box-shadow: .3rem .3rem .8rem #c0c0c0;
  padding: 0 2rem;
  margin: 2.81rem auto;
}

.siteCount {
  font-weight: 100;
  font-size: .8rem;
  font-style: italic;
}

#container_lists {
  display: flex;
  justify-content: space-around;
}
