
    p {
      font-family: sans-serif;
      color: #333;
      color: red;
    }

    .red {
      color: red;
    }

    .blue {
      color: #00529b;
    }

    #signature {
      margin-top: 40px;
    }
