h3#clickTicket, h3#clickTicketTwo, h3#clickTicketThree, h3#clickTicketFour {
  color: #2A5DB0;
  text-decoration: underline;
  margin-top: 2.81rem;
  cursor: pointer;
}

#newOptionsThree {
  padding-bottom: 2.3rem;
}

.emptyOption {
  background: #39547F;
  color: white;
}
