#dashboard_container {
  max-width: 61.25rem;
  margin: auto;
}

.inputShell {
  padding-bottom: .4rem;
  border-radius: .4rem;
}

.ticketShell {
  border-radius: .4rem;
  border: 1px solid #aaa;
  max-width: 18rem;
  margin: 1.9rem 0 2rem 0;
  box-shadow: .3rem .4rem .8rem #a0a0a0;
}

.ticketShell h4 {
  color: #fff;
  background: #333;
  margin: auto;
  /* border-bottom: .2rem solid #d0d0d0; */
  border-radius: .4rem .4rem 0 0;
  padding: .9rem 0 .9rem 1.25rem;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: .1rem;
}

.ticketShell p {
  margin: 0;
  padding: .6rem 0 .6rem 1rem;
  width: 100%;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  /* border: 1px solid #555; */
}

#recordsTop {
  border-top: 1px dotted #666;
  border-bottom: 1px dotted #666;
}

#exploratoryShell h4 {
  margin-bottom: 1rem;
}

#exploratoryShell input[type="text"], #exploratoryShell input[type="email"] {
  display: block;
  margin: auto;
  padding: .4rem;
  margin-top: .5rem;
  width: 75%;
}

#exploratoryShell label {
  text-align: center;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 11rem;
  color: #444;
  margin-top: .3rem;
}

#exploratoryShell .submitButton {
  margin-top: 1.75rem;
}


#exploratoryRecordsLink {
  border-top: 1px dotted #666;
}

.ticketShell p a {
  text-decoration: none;
}

.ticketShell p a:hover {
  text-decoration: underline;
}

img.icon {
  margin-right: 1.3rem;
  margin-bottom: -.4rem;
  width: 1.35rem;
}

p.checkTicket {
  font-size: .8rem;
  text-align: left;
  font-style: italic;
}

.checkTicket a {
  color: #186318;
}

p.removeTicket {
  font-size: .8rem;
  text-align: right;
  font-style: italic;
}

.removeTicket a {
  color: #9E0000;
}


/* settings */
/* settings */
/* settings */

#settings {
  width: 84%;
  margin: auto;
  padding-bottom: 1rem;
  border-radius: .4rem;
  display: flex;
  justify-content: space-around;
}

#settings img {
  display: block;
  margin: auto;
  height: 1.2rem;
  width: 1.2rem;
}

#settings ul, #settings li {
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: red; */
}

#settings li {
  font-size: .85rem;
  list-style: none;
  text-align: center;
  width: 100%;
  max-width: none;
  margin-top: .3rem;
  margin: auto;
}

@media screen and (min-width: 600px) {

  .inputShell {
    width: 84%;
  }

  .ticketShell {
    width: 90%;
  }

}
