DirectoryIndex index.html
AuthType shibboleth
ShibRequireSession On
ShibUseHeaders On
# require eppn ~ alberta@ufl.edu #works##

#require UFADGroupsDN ~ PV-AAC-Staff Users


require eppn losickey@ufl.edu
require eppn richmoc@ufl.edu
require eppn dsking@ufl.edu
require eppn danshields@ufl.edu
require eppn shannon.kelly@ufl.edu
require eppn spillane@ufl.edu
require acatalano2@ufl.edu
