p#majorSummaryGraph {
  margin: 1rem auto;
}


#stipulation_table {
  /* background: #eee; */
  padding: 2.1rem 0 .1rem 0;
  border-top: 1px solid #C0C0C0;
  margin-top: 0;
}

#stipulation_table table, #stipulation_table tr, #stipulation_table th, #stipulation_table td {
  border: 1px solid #444;
  padding: .5rem;
  color: #fff;
}

#stipulation_table table {
  border-collapse: collapse;
  margin: 0 auto 2.81rem;
  width: 90%;
  max-width: 290px;
}

#stipulation_table th {
  font-size: 1rem;
  background: #1A60FF; /* phone blue fails contrast */
  background: #0A4BB2; /* pretty blue CONTRAST */
  background: #C3CBE0;
  color: #333;
}

#stipulation_table td {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.3rem;
  padding: 1.3rem;
  width: 50%;
  text-align: center;
  color: #444;
  font-family: monospace;
}

#courseGradeTable tr:nth-child(even) {
  background: #E3EBFC;
  background: #F1F5FE;
}

#courseGradeTable tr:nth-child(odd) {background: #FFF;}
